<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{fileName}}</title>
<style>
.preformatted {
    font-family: monospace;
    white-space: pre-wrap;
    color: #232323;
}
a {
    color: #8e0101;
}
body {
    background-color:  #e2e1e1;
}
</style>
</head>
<body>
    <div class="preformatted">{{{fileContent}}}</div>
</body>
</html>