<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{fileName}}</title>
<style>
.preformatted {
    font-family: monospace;
    white-space: pre-wrap;
    color: #232323;
}
a {
    color: #8e0101;
}
body {
    color: #888;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
</style>
</head>
<body>
    <div class="preformatted">{{{fileContent}}}</div>
</body>
</html>