language: java
jdk:
- openjdk8

services:
  - docker

script:
  - ./gradlew shadowJar
  - docker build -t vrapio/vrap .

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push USER/REPO;
    fi