<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramble</title>
</head>
<body>
<h1>Welcome to Ramble!</h1>

<ul>
    <li><a href="raml/{{fileName}}">{{fileName}}</a></li>
    <li><a href="api-console/">API Console</a></li>
</ul>

</body>
</html>
