<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramble</title>
    <style>
a {
    color: #8e0101;
}
body {
color: #888;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
    </style>
</head>
<body>
<h1>Welcome to Ramble!</h1>

<ul>
    <li><a href="api-raml/">{{apiTitle}} API browser</a></li>
    <ul>
        <li><a href="api-raml/?include">with resolved includes</a></li>
    </ul>
    <li><a href="api-console/">API Console</a></li>
    <ul>
        <li><a href="api-console/?include">with resolved includes</a></li>
    </ul>
</ul>

</body>
</html>
