<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vrap-Extension.raml</title>
    <base href="{{proxyUri}}/api-raml/"></head>
<style>
body {
    color: #888;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.title {
    text-align: center;
    color: #333;
}
</style>
    <link rel="stylesheet" href="highlight/styles/solarized-light.css" type="text/css">
    <script src="highlight/highlight.pack.js" type="application/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <h1 class="title">Vrap-Extension.raml</h1>
    <pre><code>{{> api-raml/Vrap-Extension.raml}}</code></pre>
</body>
</html>